/*   ELEMENTS CSS   */

#loginForm {
  background-color: #f2f2f2;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff7e00;
  color: white;
}
