/*   RESET CSS   */
body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/*   OVERLAY CSS   */
#overlay {
  position: fixed;
  inset: 0px;
  width: 100vw;
  height: 100vh;
  border: none;
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}
