/*   ELEMENTS CSS   */

img {
  object-fit: contain;
  image-rendering: pixelated;
  pointer-events: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ff7e00;
  color: white;
}

.popup {
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f6f3;
  padding: 20px;
  margin-top: 50vh;
  transform: translate(0, -50%);
  border-radius: 2px;
}

.blueBox,
.greenBox {
  margin: 4px;
  border: none;
  color: white;
}

.blueBox {
  background-color: #208bee;
  box-shadow: 4px 0px #0c579c, 0px 4px #0c579c, -4px 0px #0c579c,
    0px -4px #0c579c;
}
.blueBox:hover {
  background-color: #117fe3;
}

.greenBox {
  background-color: #86cc41;
  box-shadow: 4px 0px #538423, 0px 4px #538423, -4px 0px #538423,
    0px -4px #538423;
}
.greenBox:hover {
  background-color: #79c034;
}

.orangeCardPrimary {
  background-color: #ff6600;
}
.orangeCardSecondary {
  background-color: #f5a56e;
}
.blueCardPrimary {
  background-color: #617cbd;
}
.blueCardSecondary {
  background-color: #5879a6;
}
.greenCardPrimary {
  background-color: #46ae4d;
}
.greenCardSecondary {
  background-color: #a3cb78;
}

.teacherBox {
  margin: 8px 0px;
  background-color: #538423;
  border: 2px solid black;
  color: black;
  display: flex;
}

.teacherText label {
  display: block;
  margin: 4px;
}

#searchList {
  position: absolute;
  top: 116px;
  bottom: 100px;
  right: 0px;
  padding: 10px;
  border-radius: 2px;
  background-color: #f7f6f3;
  overflow-y: auto;
}

#errorLabel {
  padding: 0px 20px;
  line-height: 24px;
  background-color: red;
  color: white;
}

#setupButton {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 44px;
  height: 44px;
}

#searchButton {
  position: absolute;
  right: 60px;
  top: 4px;
  width: 44px;
  height: 44px;
}

#spaceLine {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
